body {
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width: 620px;
}

.banner img {
	width: 200px;
}

.templateContent {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}

.eingabe {
	border-style: solid;
	border-width: 3px;
	border-color: rgb(191, 2, 30);
	border-radius: 2px;
	padding: 0;
}

.eingabe::-moz-selection {
	background: #ffb7b7;
}

.eingabe input {
	border: none;
	margin: 0;
	padding: 5px;
	width: 384px;
	height: 100%;
	font-size: 22px;
	outline: none;
	
}

.eingabe button {
	background: #c0392b;
	border: 0;
	border-bottom: 4px solid #b53224;
	margin: 0;
	padding: 5px;
	width: 100px;
	height: 100%;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.eingabe button:active {
	top: 1px;
	outline: none;
	background: #f42715;
}

.eingabe button:hover {
	border-bottom: 4px solid #f42715;
	top: 1px;
	outline: none;
}

.eingabe button[disabled=disabled], button:disabled {
	border-bottom: 4px solid #e9beba;
	background: #e9beba;
}

h2 {
	color: #bf021e;
}

a {
	font-size: 1.1em;
	font-weight: bold;
	color: #b53224;
	text-decoration: none;
}

a:hover {
	text-shadow: 0 1px 2px #e9beba;
	font-size: 1.2em;
}

.feedback label {
    width: 90px;
}